#add-task-container {
  position: relative;
}

.task-form__container {
  padding: 25px 30px;
}

.task-form {
  gap: 40px;
}

.input-container {
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 17px;
}

label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--bg-blue);
}

.form-field {
  margin-top: 0.5rem;
  padding: 0.9rem 0.5rem;
  border: 1px solid #dedee2;
  border-radius: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.9rem;
  resize: none;
}

select {
  background-color: #fff;
}

.task-form textarea {
  min-height: 8rem;
}

.assign-to {
  margin: 30px 0;
}

.assign__icon {
  width: 30px;
  cursor: pointer;
}

.assign__icon:hover {
  filter: brightness(90%);
}

.task__assign-container {
  flex-grow: 1;
}

.task-form-btns {
  gap: 30px;
}

.btns-right{
    justify-content: flex-end;
}

.btn--cancel {
  background-color: var(--bg-grey);
  color: var(--bg-blue);
}

.btn--cancel:hover {
  background-color: #dbd9d9;
}

/* -------------- PSEUDE SELECT  --------------- */

.pseudo-select__option {
  background-color: #fff;
}

.pseudo-select__option:not(:first-child) {
  border-radius: 0;
}

.option1 {
  justify-content: flex-end;
}

/* --------------  ASSIGN TASK  ----------------- */

.task-form-modal {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.assign-task {
  width: 350px;
  height: 450px;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.assign-task__user-list {
  justify-content: flex-start;
  flex-grow: 1;
  margin-top: 20px;
  overflow-y: auto;
}

.user__container {
  justify-content: flex-start;
  width: 80%;
  height: 45px;
  flex-shrink: 0;
  cursor: pointer;
  padding: 10px 0 10px 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: var(--bg-grey);
}

.user__container:hover {
  background-color: rgba(206, 205, 214, 0.5);
}

.user__image {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.assign__user-details {
  flex: 1;
  overflow: hidden;
}

.user__username,
.user__mail {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user__mail {
  color: rgb(100, 100, 100);
  font-size: 0.78rem;
}

.user--selected {
  background-color: #d5d2e4;
}

.user--selected:hover {
  background-color: #b2afc4;
}

.assign-btns button {
  width: 7rem;
}

.assign-btns {
  margin-top: 20px;
}

.task-responsibles {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 10px;
}

.responsibles {
  width: 150px;
  flex-grow: 1;
  position: relative;
}

.responsibles .user__img {
  margin-right: 15px;
}

.responsibles:hover > .delete-assignment-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.delete-assignment-btn {
  display: none;
  height: 45px;
  width: 45px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.delete-assignment-btn__icon {
  width: 40%;
  height: auto;
  object-fit: contain;
  filter: invert(50%);
  cursor: pointer;
}

/* -------------- NO ASSIGNMENT - WARNING  -------------- */

.assign-warning::before {
  content: 'Please assign this task';
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: 2px solid #398ee7;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

/* --------------  TASK SAVED CONFIRMATION  ---------------- */

.task-saved__confirmation {
  background-color: #fff;
  width: 300px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}

/* ---------------  EDIT TASK  ------------------ */

.edit-task__container {
  z-index: 2;
  overflow-y: auto;
}
