#add-task-container {
    position: relative;
}

.task-form__container {
    padding: clamp(25px, 10%, 100px) 30px;
    padding: 25px 30px;
    border-radius: 10px;
}

.task-form {
    gap: 40px;
}

.form__column {
    justify-content: flex-start !important;
}

.input-container {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 17px;
}

.form__column>div:last-child {
    flex-grow: 1;
    margin-bottom: 0;
}

label {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--bg-blue);
}

.form-field {
    padding: 0.9rem 0.5rem;
    border: 1px solid #dedee2;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.9rem 0.5rem;
    border: 1px solid #dedee2;
    border-radius: 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9rem;
    resize: none;
}

select {
    background-color: #fff;
}

.assign__icon {
    width: 30px;
    cursor: pointer;
}

.assign__icon:hover {
    filter: brightness(90%);
}

.task__assign-container {
    flex-grow: 1;
}

.task-form-btns {
    justify-content: flex-end !important;
    gap: 30px;
}

.btn--cancel {
    background-color: var(--bg-grey);
    color: var(--bg-blue);
}

.btn--cancel:hover {
    background-color: #dbd9d9;
}


/* button {
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  font-weight: 700;
  cursor: pointer;
} 

  .btn--highlighted {
    background-color: var(--bg-blue);
    color: var(--bg-grey);
  }

  .btn--highlighted:hover {
    background-color: #495cbe;
  }*/


/* -------------- PSEUDE SELECT  --------------- */

.pseudo-select__option {
    background-color: #fff;
}

.pseudo-select__option:not(:first-child) {
    border-radius: 0;
}

.option1 {
    justify-content: flex-end;
}


/* --------------  ASSIGN TASK  ----------------- */

.task-form-modal {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.assign-task {
    width: 400px;
    height: 450px;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.assign-task__user-list {
    justify-content: flex-start;
    flex-grow: 1;
    margin-top: 20px;
    overflow-y: auto;
}

.user__container {
    justify-content: flex-start;
    width: 270px;
    height: 45px;
    flex-shrink: 0;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: var(--bg-grey);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user__container:hover {
    background-color: rgba(206, 205, 214, 0.5);
}

.user--selected {
    background-color: #d5d2e4;
}

.user--selected:hover {
    background-color: #b2afc4;
}

.user__image {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.user__username,
.user__mail {
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user__mail {
    color: rgb(100, 100, 100);
    font-size: 0.78rem;
}

.assign-btns button {
    width: 7rem;
}

.assign-btns {
    margin-top: 20px;
}

.task-responsibles {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 10px;
}

.responsibles {
    width: 150px;
    flex-grow: 1;
    position: relative;
}

.responsibles .user__img {
    margin-right: 15px;
}

.responsibles .user__username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.responsibles:hover>div {
    display: unset !important;
}

.delete-assignment-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 14px 5%;
}

.delete-assignment-btn__icon {
    height: 100%;
    object-fit: contain;
    filter: invert(50%);
    cursor: pointer;
}


/* --------------  TASK SAVED CONFIRMATION  ---------------- */

.task-saved__confirmation {
    background-color: #fff;
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
}


/* ---------------  EDIT TASK  ------------------ */