.login-site {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(32, 44, 139);
}

.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 4px #dedee2 solid;
}

.input {
    margin: 10px;
    height: 24px;
    font-size: 12px;
    width: 173px;
}

.login-btn {
    margin: 10px;
    color: white;
    height: 40px;
    width: 150px;
    background-color: rgb(32, 44, 139);
    cursor: pointer;
    padding-bottom: 30px;
}

.head {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputs {
    text-align: center;
    display: flex;
    justify-content: center;
}

.header {
    margin-top: 30px;
}

#incorrect {
    text-align: center;
    color: brown;
    font-weight: bolder;
}

#username {
    height: 25px;
    width: 200px;
}

#password {
    height: 25px;
    width: 200px;
}