@media (max-width: 1000px) {
    .sidebar {
        position: absolute;
        left: -80px;
        z-index: 1;
        width: 130px;
        font-size: 12px;
    }
    #sidebar__bottom {
        display: none;
    }
    .menu-logo {
        display: initial;
        cursor: pointer;
    }
    #navi-close {
        cursor: pointer;
    }
    body {
        margin-left: 40px;
    }
    .dropout {
        position: absolute;
        left: 0 !important;
    }
    .nav__links {
        margin-top: 20px;
    }
    .logo img {
        width: 30px;
    }
    #userpic {
        display: none;
    }
}