* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    --bg-grey: #f4f3fb;
    --bg-blue: #1e3190;
}

.bg-grey {
    background-color: var(--bg-grey) !important;
}

a{
    color: #fff;
}

.bodycontent {
    display: flex;
}

.section {
    flex: 1;
    height: 100vh;
    padding: 0 20px;
    overflow-y: auto;
    position: relative;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.bg-grey {
    background-color: var(--bg-grey);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-none {
    display: none !important;
}

.pd-15 {
    padding: 15px;
}

button {
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    font-weight: 700;
    cursor: pointer;
  }

  .btn--highlighted {
    background-color: var(--bg-blue);
    color: var(--bg-grey);
  }

  .btn--highlighted:hover {
    background-color: #495cbe;
  }


/* ---------  HEADINGS  --------- */

.section-header {
    margin-bottom: 30px;
    margin-top: 40px;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.subheading {
    font-size: 14px;
    letter-spacing: 0.05rem;
    color: var(--bg-blue);
    margin-top: 0 !important;
}

.pd-bt {
    padding-bottom: 60px !important;
}