.progress-section {
    margin-right: 25px;
}

.task-list-area {
    min-width: 230px;
    max-width: 230px;
    height: fit-content;
    min-height: 600px;
    background-color: var(--bg-blue);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.section-main {
    display: flex;
    justify-content: flex-start;
}

.progress-headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    /* border: solid rgb(160, 149, 149) 2px; */
    border-radius: 5px;
    width: 210px;
    background-color: white;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.drag-area-highlight {
    background-color: rgb(191, 205, 252);
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.margin-top {
    margin-top: 20px;
}

.point {
    cursor: pointer;
}

.task-title {
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.task-description {
    margin-top: 10px;
}

.responsible-user {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.grey-text{
    color: var(--bg-textgrey);
}