* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    --bg-grey: #f4f3fb;
    --bg-textgrey: #808080;
    --bg-blue: #1e3190;
}

.bg-grey {
    background-color: var(--bg-grey) !important;
}

a {
    color: #fff;
}

.bodycontent {
    display: flex;
}

.section {
    flex: 1;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.bg-grey {
    background-color: var(--bg-grey);
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-none {
    display: none !important;
}

.v-hidden {
    visibility: hidden;
}

.v-visible {
    visibility: visible !important;
}

.pd-15 {
    padding: 15px;
}

button {
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.btn--highlighted {
    background-color: var(--bg-blue);
    color: var(--bg-grey);
}

.btn--highlighted:hover {
    background-color: #495cbe;
}


/* ---------  HEADINGS  --------- */

.section-header {
    margin-bottom: 30px;
    margin-top: 20px;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.subheading {
    font-size: 14px;
    letter-spacing: 0.05rem;
    color: var(--bg-blue);
    margin-top: 0 !important;
}

.pd-bt {
    padding-bottom: 60px !important;
}


/* POPUP for Userdetails */

a.hideDisplay {
    position: relative;
    color: #000;
    text-decoration: none
}

a.hideDisplay:hover {
    z-index: 30;
}

a.hideDisplay span.showDisplayOnHover {
    display: none
}

a.hideDisplay:hover span.showDisplayOnHover {
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    top: 5px;
    left: 35px;
    padding: 10px;
    border: 1px solid rgb(31, 50, 144, 0.2);
    background-color: var(--bg-grey);
    color: rgb(31, 50, 144);
    text-align: left;
    border-radius: 10px;
}

span.showBodyOfDisplayOnHover {
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}

.detail-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}


/* POPUP for Userdetails  End*/


/* EXTRA BAR */

#extrabar {
    position: absolute;
    left: 200px;
    bottom: 15px;
    background-color: var(--bg-grey);
    border-radius: 25px;
    border: 1px solid rgb(31, 50, 144, 0.2);
    z-index: 20;
}

.search-legend-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* padding-top: 10px; */
    height: 100%;
}

.legend-pic {
    width: 26px;
}


/* POPUP LEGEND */

a.hideDisplayLegend {
    position: relative;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.hideDisplayLegend:hover {
    z-index: 30;
}

a.hideDisplayLegend span.showDisplayOnHoverLegend {
    display: none
}

a.hideDisplayLegend:hover span.showDisplayOnHoverLegend {
    display: block;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    top: -175px;
    left: 0px;
    padding: 10px;
    border: 1px solid rgb(31, 50, 144, 0.2);
    background-color: var(--bg-grey);
    color: rgb(31, 50, 144);
    text-align: left;
    border-radius: 10px;
}

span.showBodyOfDisplayOnHoverLegend {
    font-size: 16px;
    font-weight: normal;
    color: var(--bg-blue);
    line-height: 18px;
}

.Product-col {
    background-color: rgba(0, 255, 255, 0.5) !important;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 10px;
}

.Marketing-col {
    background-color: rgba(0, 0, 255, 0.5) !important;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 10px;
}

.Sale-col {
    background-color: rgba(49, 0, 128, 0.5) !important;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 10px;
}

.Management-col {
    background-color: rgba(238, 130, 238, 0.5) !important;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 10px;
}

.colors {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.legends {
    display: flex;
}

.urgendy-legend {
    margin-left: 16px;
}


/* pop legend end\ */

.search {
    display: flex;
    justify-content: center;
}

.legend {
    border-right: 1px solid rgb(31, 50, 144, 0.2);
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search img {
    width: 23px;
}

.search-input {
    border-radius: 15px;
    width: 0px;
    visibility: hidden;
    height: 30px;
}


/* EXTRA BAR END */