.progress-section {
    width: 250px;
    margin-right: 25px;
}

.task-list-area {
    width: 100%;
    height: fit-content;
    min-height: 600px;
    background-color: rgb(244, 243, 251);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.section-main {
    display: flex;
    justify-content: flex-start;
}

.progress-headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task {
    margin-top: 22px;
    border: solid black 2px;
    border-radius: 5px;
    width: 210px;
    background-color: white;
    height: fit-content;
    padding: 5px;
}

.drag-area-highlight {
    background-color: rgb(191, 205, 252);
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.margin-top{
    margin-top: 20px;
}

.padding{
    padding: 5px;
}