.backlog-overline {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: rgb(31, 50, 144);
    font-weight: bolder;
}

table {
    width: 100%;
}

.backlogs {
    margin-left: 20px;
    margin-right: 20px;
}

.log {
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 243, 251);
    border-radius: 10px;
    cursor: pointer;
}

.bl-row1 {
    width: 30%;
    min-width: 300px;
}

.bl-row2 {
    width: 20%;
    min-width: 200px;
}

.bl-row3 {
    width: 50%;
    min-width: 500px;
}

.border-red {
    border-left: 7px solid red;
}

.border-blue {
    border-left: 7px solid blue;
}

.border-green {
    border-left: 7px solid green;
}

.bl-assigned {
    display: flex;
    align-items: center;
}

.bl-user {
    margin-left: 15px;
}

#bl-mail {
    color: cadetblue;
}