.sidebar {
    background-color: var(--primary);
    width: 180px;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: all 225ms ease-in-out;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 65px;
}

#sidebar__top {
    margin-top: 80px;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.link {
    cursor: pointer;
    margin-top: 10px;
    border-left: 4px transparent solid;
}

#sidebar__top div:first-child {
    margin-top: 0;
}

.card {
    margin: 8px;
}

.sidebarlink--active {
    border-left: 4px white solid;
}
.sidebarlink--active__bottom {
    border-bottom: 4px white solid;
}

#sidebar__bottom {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logout_btn {
    margin: 10px;
    height: 30px;
    cursor: pointer;
    padding: 5px !important;
    background-color: rgb(74, 81, 138) !important;
}

.logout_btn:hover {
    background-color: rgb(99, 102, 128) !important;
}

.nav__pic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

#sidebar__bottom a {
    margin: 0 10px;
}

#sidebar__bottom a:hover {
    color: lightgray;
}

#add-user-img {
    margin-bottom: 15px;
    cursor: copy;
}

/* responsive navbar - elements */

#nav-btn__container {
    position: absolute;
    top: 10px;
    left: 110px;
    width: 25px;
    height: 30px;
    display: none;
}

.nav-btn {
    position: absolute;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.nav-btn--blue{
    left: 50px;
    width: 1.5rem;
}