#include-board {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.section-header-board {
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.progress-section {
    height: 100vh;
}

.task-list-area {
    width: 220px;
    flex: 1;
    background-color: var(--bg-grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.section-main {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: visible;
}

.progress-headline {
    font-size: 16px;
    font-weight: 700;
    color: var(--bg-blue);
    background-color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
}

.task {
    margin-top: 10px;
    border-radius: 10px;
    width: 200px;
    background-color: white;
    min-height: 180px;
    padding: 10px;
    border: 1px solid rgb(31, 50, 144, 0.2);
    display: flex;
    flex-direction: column;
}

.drag-area-highlight {
    background-color: rgb(191, 205, 252);
}

.bottom {
    margin-top: auto;
    padding-top: 5px;
    border-top: 1px solid rgb(31, 50, 144, 0.2);
}

.userpic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.Product {
    border-top: 7px solid rgba(0, 255, 255, 0.5) !important;
}

.Marketing {
    border-top: 7px solid rgba(0, 0, 255, 0.5) !important;
}

.Sale {
    border-top: 7px solid rgba(49, 0, 128, 0.5) !important;
}

.Management {
    border-top: 7px solid rgba(238, 130, 238, 0.5) !important;
}

.high {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

.middle {
    background-color: rgba(255, 255, 0, 0.5);
    color: black;
}

.low {
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
}

.prio {
    text-align: center;
    width: 40px;
    border-radius: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid rgb(31, 50, 144, 0.2);
}

.del-btn-board {
    padding-top: 5px;
    height: 30px;
    object-fit: contain;
    filter: invert(50%);
    cursor: pointer;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.margin-top {
    margin-top: 20px;
}

.point {
    cursor: pointer;
}

.task-title {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--bg-blue);
}

.task-description {
    margin-top: 10px;
}

.responsible-user {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(31, 50, 144, 0.2);
}

.grey-text {
    color: var(--bg-textgrey);
}

.move-task {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.pointer {
    cursor: pointer;
}

#count-assignes {
    position: absolute;
    right: 0px;
    top: -37px;
    background-color: rgba(31, 50, 144, 0.7);
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.usernew {
    position: relative;
}

.task-description {
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.userHoverBox {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
}

.hover-all-user {
    display: flex;
    align-items: center;
}

.hover-userpic {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}