.sidebar {
    background-color: rgb(32, 44, 139);
    width: 20vw;
    max-width: 200px;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 65px;
}
.nav__links {
    margin-top: 80px;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.link {
    cursor: pointer;
    margin-top: 10px;
    border-left: 4px transparent solid;
}

.nav__links div:first-child {
    margin-top: 0;
}

.card {
    margin: 8px;
}

.sidebarlink--active {
    border-left: 4px white solid;
}

.sidebar__bottom {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logout_btn {
    margin: 10px;
    height: 30px;
    cursor: pointer;
    padding: 5px !important;
    background-color: rgb(74, 81, 138) !important;
}

.logout_btn:hover {
    background-color: rgb(99, 102, 128) !important;
}

.userpic {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar__bottom a {
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar__bottom a:hover {
    color: lightgray;
}

#add-user-img {
    margin-bottom: 15px;
    cursor: copy;
}