.backlog__table-headline {
    margin-right: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: rgb(31, 50, 144);
    font-weight: bolder;
}

table {
    width: 100%;
}

.backlogs {
    margin-right: 20px;
}

.log {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 243, 251);
    border-radius: 10px;
    cursor: pointer;
}

.high {
    background-color: rgb(250, 175, 175) !important;
}

.middle {
    background-color: rgb(250, 249, 178) !important;
}

.Product {
    border-left: 7px solid red;
}

.Marketing {
    border-left: 7px solid blue;
}

.Sale {
    border-left: 7px solid green;
}

.Management {
    border-left: 7px solid violet;
}

.bl-assigned {
    display: flex;
    align-items: center;
}

#bl-mail {
    color: cadetblue;
}

.del {
    width: 50px;
}

#del-btn {
    width: 30px;
    height: 30px;
    cursor: url('/img/delete1.png'), auto;
}

.user {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.user img {
    
}

.mr-16 {
    margin-right: 16px;
}

.pd-10 {
    padding: 12px
}

.log-headline {
    display: flex;
    justify-content: space-between;
}

.log-body {
    width: 100%;
    display: flex;
    align-items: center;
}

.bl-users {
    width: 190px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bl-title {
    min-width: 180px !important;
    display: flex;
    justify-content: flex-start;
}

.bl-category {
    width: 130px !important;
    display: flex;
    justify-content: flex-start;
}

.bl-details {
    min-width: 215px !important;
    display: flex;
    justify-content: flex-start;
}