<div class="section-header">
  <h1>Add Task</h1>
  <p class="subheading">Learning Management System Project</p>
</div>

<!-- Add Task -->
<!-- <div class="section-container add-task w-100"> -->
  <!-- new task -->
  <div class="add-task__form-container bg-grey w-100 h-100 pd-2">
    <!-- form start -->
    <form onsubmit="addTask(); return false" class="add-task__form flex-center h-100">
      <!-- left side -->
      <div class="form__column flex-center col w-100 h-100">
        <div class="input-container flex-center col w-100">
          <label for="task__title">TITLE</label>
          <input type="text" name="task__title" id="task__title" class="form-field w-100" />
        </div>
        <div class="input-container flex-center col w-100">
          <label for="task__category">CATEGORY</label>
          <select name="task__category" id="task__category" class="form-field w-100">
            <option value="Management">Management</option>
            <option value="Marketing">Marketing</option>
            <option value="Product">Product</option>
            <option value="Sale">Sale</option>
          </select>
        </div>
        <div class="input-container flex-center col w-100">
          <label for="task__description">DESCRIPTION</label>
          <textarea
            type="text"
            name="task__description"
            id="task__description"
            class="form-field w-100 h-100"
          ></textarea>
        </div>
      </div>
      <!-- right side -->
      <div class="form__column flex-center col w-100 h-100">
        <div class="input-container flex-center col w-100">
          <label for="task__date">DUE DATE</label>
          <input type="date" name="task__date" id="task__date" class="form-field w-100" />
        </div>
        <div class="input-container flex-center col w-100">
          <label for="task__urgency">URGENCY</label>
          <select name="task__urgency" id="task__urgency" class="form-field w-100">
            <option value="high">High</option>
            <option value="middle">Middle</option>
            <option value="low">Low</option>
          </select>
        </div>
        <div class="input-container flex-center col w-100">
          <label for="task__assign-container">ASSIGNED TO</label>
          <div name="task__assign-container" class="task__assign-container flex-center">
            <img class="assign__icon" src="./img/icon plus.png" alt="Assign to person" onclick="assignTask()" />
            <input type="hidden" id="task__responsable" />
          </div>
          <div class="add-task-btns flex-center w-100">
            <button class="btn--cancel">CANCEL</button>
            <button class="btn--highlighted">CREATE TASK</button>
          </div>
        </div>
      </div>
    </form>
  <!-- </div> -->
</div>

<!-- --------------ASSIGN TASK MODAL -------------- -->
<div id="assign-task-modal" class="flex-center w-100 d-none">
  <div id="assign-task__content" class="flex-center col">
    <h1>Assign task to...</h1>
    <div id="show-users" class="w-100 flex-1"></div>
    <div class="add-task-btns flex-center w-100">
      <button class="btn--cancel" onclick="cancelAssignment()">Cancel</button>
      <button class="btn--highlighted" onclick="saveAssignment()">Save</button>
    </div>
  </div>
</div>
