<div class="section-header">
    <p class="header--overline">Backlog</p>
    <p class="header--underline"> Learning Management System Project</p>
</div>



<div class="backlog-content">
    <div class="backlog-overline">
        <table>
            <tr>
                <td class="bl-row1">ASSIGNED TO</td>
                <td class="bl-row1-1">STATUS</td>
                <td class="bl-row2">CATEGORY</td>
                <td class="bl-row3">DETAILS</td>
            </tr>
        </table>

    </div>
    <div class="backlogs" id="backlogs">


        <!-- generiert mit for schleife in JS -->

        <div class="log border-green" id="log">
            <table>
                <tr>
                    <td class=" bl-row1 " id="bl-row1 ">
                        <div class="bl-assigned">
                            <Div><img src="" alt="BILD"></Div>
                            <div class="bl-user">
                                <div>Marcus Müller</div>
                                <div id="bl-mail">Marcus.mm.mueller@gmail.com</div>
                            </div>

                        </div>
                    </td>
                    <td class="bl-row1-1">
                        <div>
                            STATUS
                        </div>
                    </td>

                    <td class="bl-row2 ">
                        <div class="bl-category "> Marketing</div>
                    </td>
                    <td class="bl-row3 ">
                        <div class="bl-details ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, praesentium, sit excepturi dolore impedit distinctio quas, molestias laboriosam doloribus similique vitae cumque! Ut quod minus beatae adipisci, iure ad cum!</div>
                    </td>
                </tr>
            </table>
        </div>





    </div>


</div>