<div class="section-header">
    <h1 class="header--overline">Backlog</h1>
    <p class="header--underline"> Learning Management System Project</p>
</div>

<div class="backlog-content">
    <div class="backlog-overline">
        <table>
            <tr>
                <td class="bl-row1">ASSIGNED TO</td>
                <td class="bl-row2">TITLE</td>
                <td class="bl-row3">CATEGORY</td>
                <td class="bl-row4">DETAILS</td>
            </tr>
        </table>

    </div>
    <div class="backlogs" id="backlogs">


        Es stehen keine neuen Tasks an!






    </div>


</div>