<div class="section-header">
    <h1>Backlog</h1>
    <p class="subheading">Learning Management System Project</p>
</div>

<div class="backlog-content">
    <div class="backlogs">
        <table id="log_table" class="backlog__table-headline ">
            <thead>
                <tr>
                    <th>TO BOARD</th>
                    <th>ASSIGNED TO</th>
                    <th>TITLE</th>
                    <th>CATEGORY</th>
                    <th>DETAILS</th>
                    <th>My Header</th>
                    <th>DEL</th>
                </tr>
            </thead>
            <tbody id="logs-table">

            </tbody>

        </table>
    </div>

</div>