

    <div class="section-header">
        <h1>Board</h1>
        <p class="subheading"> Learning Management System Project</p>
    </div>

    <div class="section w-100 section-main">
       
        <div class="progress-section">
            <div class="progress-headline">
                <h2>TO DO</h2>  
            </div>            
            <div class="task-list-area" >
                <div id="task" class="task">
                    <div>Title</div>
                    <div>Category</div>
                    <div>Due Date</div>
                    <div>Urgency</div>

                </div>
            </div>
        </div>

    </div>
