

    <div class="section-header">
        <h1>Board</h1>
        <p class="subheading"> Learning Management System Project</p>
    </div>

    <div class="section w-100 section-main">

        <div>
            <div class="board-headline">TO DO</div>
            <div class="boardsection">
                Test
            </div>
        </div>
       

        <div class="boardsection">
            Test
        </div>

        <div class="boardsection">
            Test
        </div>

        <div class="boardsection">
            Test
        </div>

    </div>
