<div class="task-form__container bg-grey w-100 h-100 pd-2">
 <!-- form start -->
 <form id="edit-task__form" onsubmit="saveChanges(); return false" class="task-form flex-center h-100">
   <!-- left side -->
   <div class="form__column flex-center col w-100 h-100">
     <div class="input-container flex-center col w-100">
       <label for="task__title">TITLE</label>
       <input required type="text" name="task__title" id="edit-task__title" class="form-field w-100" />
     </div>
     <div class="input-container flex-center col w-100">
       <label for="task__category">CATEGORY</label>
       <select required name="task__category" id="edit-task__category" class="form-field w-100">
         <option value=""></option>
         <option value="Management">Management</option>
         <option value="Marketing">Marketing</option>
         <option value="Product">Product</option>
         <option value="Sale">Sale</option>
       </select>
     </div>
     <div class="input-container flex-center col w-100">
       <label for="task__description">DESCRIPTION</label>
       <textarea
         required
         type="text"
         name="task__description"
         id="edit-task__description"
         class="form-field w-100 h-100"
       ></textarea>
     </div>
   </div>
   <!-- right side -->
   <div class="form__column flex-center col w-100 h-100">
     <div class="input-container flex-center col w-100">
       <label for="task__date">DUE DATE</label>
       <input required type="date" name="task__date" id="edit-task__date" class="form-field w-100" />
     </div>
     <div class="input-container flex-center col w-100">
       <label for="task__urgency">URGENCY</label>
       <select required name="task__urgency" id="edit-task__urgency" class="form-field w-100">
         <option value=""></option>
         <option value="high">High</option>
         <option value="middle">Middle</option>
         <option value="low">Low</option>
       </select>
     </div>
     <div class="input-container flex-center col w-100">
       <label for="task__assign-container">ASSIGNED TO</label>
       <div
         id="edit-task__assign-container"
         name="task__assign-container"
         class="task__assign-container flex-center"
       >
         <div id="edit-task__responsibles" class="task-responsibles task__assign-container flex-center"></div>
         <img class="assign__icon" src="./img/icon plus.png" alt="Assign to person" onclick="assignTask()" />
       </div>
       <div class="task-form-btns flex-center w-100">
         <button type="button" class="btn--cancel" onclick="cancelEditTask()">CANCEL</button>
         <button type="submit" class="btn--highlighted">SAVE CHANGES</button>
       </div>
     </div>
   </div>
 </form>
 <!-- </div> -->
</div>

<!-- --------------ASSIGN TASK MODAL -------------- -->
<div id="edit-task-modal" class="task-form-modal flex-center w-100 d-none">
 <div id="edit-task__assign" class="assign-task flex-center col d-none">
   <h1>Assign task to...</h1>
   <div id="edit-task__assign__user-list" class="assign-task__user-list w-100 flex-center col flex-1"></div>
   <div class="assign-btns task-form-btns flex-center w-100">
     <button class="btn--cancel" onclick="cancelAssignment()">Cancel</button>
     <button class="btn--highlighted" onclick="saveAssignment()">Save</button>
   </div>
 </div>
 <div id="edit-task__saved-confirmation" class="task-saved__confirmation flex-center d-none">Changes saved</div>
</div>