<!-- <div class="search-legend-bar"> -->
<!-- LEGEND -->
<div id="color-legend" class="flex-center">
  <img src="./img/legend.png" class="legend-img" />

  <div id="color-legend__popup">
    <div id="color-legend__popup-content">
      <table class="color-legend__table">
        <thead>
          <tr>
            <th colspan="2">Category</th>
            <th>Urgency</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="legend__color-td" onclick="filterTasks('Management', this)">
              <div id="color__management" class="legend__colors"></div>
            </td>
            <td id="td--marketing" class="legend__category-td" onclick="filterTasks('Management', this)">Management</td>
            <td rowspan="4">
              <div class="prio low legend__urgency" onclick="filterTasks('filter-prio--low', this)">low</div>
              <div class="prio middle legend__urgency" onclick="filterTasks('filter-prio--middle', this)">Middle</div>
              <div class="prio high legend__urgency" onclick="filterTasks('filter-prio--high', this)">High</div>
            </td>
          </tr>
          <tr>
            <td class="legend__color-td" onclick="filterTasks('Marketing', this)">
              <div id="color__marketing" class="legend__colors"></div>
            </td>
            <td class="legend__category-td" onclick="filterTasks('Marketing', this)">Marketing</td>
          </tr>
          <tr>
            <td class="legend__color-td" onclick="filterTasks('Product', this)">
              <div id="color__product" class="legend__colors"></div>
            </td>
            <td class="legend__category-td" onclick="filterTasks('Product', this)">Product</td>
          </tr>
          <tr>
            <td class="legend__color-td" onclick="filterTasks('Sale', this)">
              <div id="color__sale" class="legend__colors"></div>
            </td>
            <td class="legend__category-td" onclick="filterTasks('Sale', this)">Sale</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- LEGEND END -->

<!-- SEARCH -->

<div class="search flex-center">
  <img src="./img/search.png" onclick="showSearchInput()" id="search-btn" />
  <input type="text" name="" placeholder="search" id="search-input" class="search-input" oninput="startSearch()" />
</div>
<!-- SEARCH END -->
<!-- </div> -->
