<div class="section-header">
    <h1 class="header--overline">Help</h1>
    <p class="header--underline"> Learning Management System Project</p>
</div>

<div class="content">

    <h3>How to use</h3>

    <ol>
        <li>To create a new Task under go to "Add Task"</li>
        <li>After pressing the "CREATE TASK" button the Task will appear in the "Backlog" section.</li>
        <li>The assigned User can now take the task, by clicking on the Task in the "Backlog".</li>
        <li>The task is now copied from the "Backlog" section into the personal "Board". </li>
        <li>In the "Board" section, you can see the Progress of each Task.</li>
        <li>To bring the Task to the next level click on it.</li>
    </ol>
    <div class="contact">
        If you need help or there are any problems contact us.
        <br>
        <a href="mailto:"></a><button class="help-btn btn--highlighted">Send Mail</button>
    </div>
</div>