<div class="sidebar__top w-100">
    <div id="resp-btn"><img src="./img/menu.png" alt="" id="navi-menu" class=" menu-logo navi-resp" onclick="dropout()"><img src="./img/close.png" alt="" id="navi-close" class="navi-resp d-none" onclick="dropin()"></div>
    <div class="logo">
        <a href="index.html"><img src="img/logo.png" alt="" /></a>
    </div>

    <div class="nav__links flex-center col" id="sidebar__links">
        <div class="link flex-center w-100" id="board">
            <a href="./board.html">Board</a>
        </div>
        <div class="link flex-center w-100" id="backlog">
            <a href="./backlog.html">Backlog</a>
        </div>
        <div class="link flex-center w-100" id="addtask">
            <a href="./addtask.html">Add Task</a>
        </div>
        <div class="link flex-center w-100" id="help">
            <a href="./help.html">Help</a>
        </div>
    </div>
</div>
<div class="sidebar__bottom" id="sidebar__bottom">
    <img id="userpic" src="img/profil3.png" alt="" class="navipic" />
    <div class="logout">
        <a href="./index.html"><button  class="logout_btn btn--highlighted">Logout</button></a>
    </div>
    <img src="img/adduser.png" alt="" onclick="showadduser()" id="add-user-img" />
    <div>
        <a href="./about.html">about</a>
        <a href="./privacy.html">privacy</a>
    </div>
</div>
<div id="xmenu700" class=""><img src="./img/menu700.png" alt="" id="menu700" class="" onclick="dropout700()"><img src="./img/x700.png" alt="" id="x700" class="" onclick="dropin700()"></div>