<div class="sidebar__top w-100">
  <div class="logo">
    <a href="index.html"><img src="img/logo.png" alt="" /></a>
  </div>

  <div class="nav__links flex-center col">
    <div class="link flex-center w-100" id="board">
      <a href="./board.html">Board</a>
    </div>
    <div class="link flex-center w-100" id="backlog">
      <a href="./backlog.html">Backlog</a>
    </div>
    <div class="link flex-center w-100" id="addtask">
      <a href="./addtask.html">Add Task</a>
    </div>
    <div class="link flex-center w-100" id="help">
      <a href="./help.html">Help</a>
    </div>
  </div>
</div>
<div class="sidebar__bottom">
  <img id="userpic" src="img/profil3.png" alt="" class="userpic" />
  <div class="logout">
    <button onclick="logout()" class="logout_btn btn--highlighted">Logout</button>
  </div>
  <img src="img/adduser.png" alt="" onclick="showadduser()" id="add-user-img" />
  <div>
    <a href="./about.html">about</a>
    <a href="./privacy.html">privacy</a>
  </div>
</div>
