<div id="nav-btn__container">
    <img src="./img/menu.png" alt="" id="nav-menu" class="nav-btn nav-btn--white" onclick="dropout()">
    <img src="./img/close.png" alt="" id="nav-close" class="nav-btn nav-btn--white v-hidden" onclick="dropin()">
    <img src="./img/menu_blue.png" alt="" id="nav-menu--blue" class="nav-btn nav-btn--blue" onclick="dropout()">
    <img src="./img/close_blue.png" alt="" id="nav-close--blue" class="nav-btn nav-btn--blue v-hidden" onclick="dropin()">
</div>
<div class="sidebar__top w-100">
    <div class="logo">
        <a href="index.html"><img src="img/logo.png" alt="" /></a>
    </div>

    <div class="sidebar__content flex-center col" id="sidebar__top">
        <div class="link flex-center w-100" id="board">
            <a href="./board.html">Board</a>
        </div>
        <div class="link flex-center w-100" id="backlog">
            <a href="./backlog.html">Backlog</a>
        </div>
        <div class="link flex-center w-100" id="addtask">
            <a href="./addtask.html">Add Task</a>
        </div>
        <div class="link flex-center w-100" id="help">
            <a href="./help.html">Help</a>
        </div>
    </div>
</div>
<div class="sidebar__content" id="sidebar__bottom">
    <img id="userpic" src="img/profil3.png" alt="" class="nav__pic" />
    <div class="logout">
        <a href="./index.html"><button  class="logout_btn btn--highlighted">Logout</button></a>
    </div>
    <img src="img/adduser.png" alt="" onclick="showadduser()" id="add-user-img" />
    <div>
        <a href="./about.html">about</a>
        <a href="./privacy.html">privacy</a>
    </div>
</div>